.signup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(black, 0.5);
  z-index: 999;

  &__formWrapper {
    margin: 0 auto;
    background: white;
    border-radius: 5px;
    padding: 15px;
  }

  &__closeBtn {
    position: absolute;
    right: 5px;
    top: 5px;
  }

  &__success {
    margin: 15px 0;
    padding: 5px;
    background: rgba(green, 0.3);
    color: darkgreen;
    font-size: 14px;
  }
}
